<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='权限管理'"></head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
		<!--头-->
		<div th:replace="fragments/head :: header"></div>

		<div class="layui-body" style="margin: 1%">
			<div class="demoTable">
				&nbsp;&nbsp;
				<button class="layui-btn" onclick="addServerMember(1)">添加技术人员</button>
			</div>

			<table class="layui-table">
				<thead>
					<tr>
						<th>会员号</th>
						<th>昵称</th>
						<th>头像</th>
						<th>手机号</th>
						<th>接单方式</th>
						<th>禁单状态</th>
						<th style="width: 140px;">操作</th>
					</tr>
				</thead>
				<tbody id="tbody">

				</tbody>
			</table>
		</div>

		<!--添加或编辑权限-->
		<div id="updateServerMember" class="layer_self_wrap" style="width: 500px; display: none;">
			<form id="serverForm" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
				<div class="layui-form-item">
					<label class="layui-form-label">会员号</label>
					<div class="layui-input-inline">
						<input name="memberNo" id="member_no" class="layui-input" type="text" />
					</div>
				</div>
				<input id="type" type="hidden" name="type" />
				<div class="layui-form-item">
					<label class="layui-form-label">手机号</label>
					<div class="layui-input-inline">
						<input name="phone" class="layui-input" type="text" />
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">昵称</label>
					<div class="layui-input-inline">
						<input name="nickname" class="layui-input" type="text" />
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">头像</label>
					<div class="layui-input-block">
						<div class="layui-upload">
							<button class="layui-btn" id="test-upload-normal" type="button">上传图片</button>
							<img style="width: 140px" alt="" id="photo" src=""> <input style="display: none" name="photo" lay-verify="required" autocomplete="off" class="layui-input" type="text" />
						</div>
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">擅长项目</label>
					<div class="layui-input-inline" id="serverClassIdStr">
						<!-- <input name="serverClassIdStr" title="参考价" type="checkbox" value="1"> 
						<input name="serverClassIdStr" title="需咨询" type="checkbox" value="2"> -->
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">接单方式</label>
					<div class="layui-input-inline">
						<input name="orderTakesType" title="不接单" type="radio" value="0"> <input name="orderTakesType" title="手动接单" type="radio" value="1"> <input name="orderTakesType" title="自动接单" type="radio" value="2">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">初始位置</label>
					<div class="layui-input-block">
						<input id="address" name="address" class="layui-input" type="text" />
						<div onclick="mapSearch()" style="border: solid 1px; width: 45px; text-align: center">搜索</div>
						<input type="hidden" id="lat" name="lat"> <input type="hidden" id="lon" name="lon">
						<div id="container" style="height: 400px; width: 665px;"></div>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">简介</label>
					<div class="layui-input-inline">
						<textarea name="serverMemberDesc" placeholder="请输入内容" class="layui-textarea"></textarea>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-input-block" style="margin-left: 10px;">
						<button class="layui-btn" lay-submit="" lay-filter="serverMemberSubmit">提交</button>
						<button type="reset" class="layui-btn layui-btn-primary">重置</button>
					</div>
				</div>
			</form>
		</div>




		<!--底部-->
		<div th:replace="fragments/footer :: footer"></div>
		<script src="/js/server/serverMember.js"></script>
		<script src="/js/dateUtils.js"></script>
		<script th:inline="javascript">
        var permList=/*[[${permList}]]*/;
    	</script>
		<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.14&key=9c82bae7791795fc82dcadb438528d3c"></script>
		<script>
		var map,marker;
		window.onload = function(){
			//直接加载地图
			
			var latlon=null;
			if($("#lat").val()){
				latlon=($("#lon").val()+","+$("#lat").val()).spilt(",");
			}
			map = new AMap.Map('container', {
		        zoom:13,//级别
		        center: latlon,//中心点坐标
		        resizeEnable: true,
		    });
			if($("#lat").val()){
				 marker = new AMap.Marker({
		            position: [$("#lon").val(),$("#lat").val()],
		            offset: new AMap.Pixel(-13, -30)
		        });
		        marker.setMap(map);
			}
			  //获取用户所在城市信息
			map.on('click', function(e) {
		        console.log( e.lnglat.getLng() + ',' + e.lnglat.getLat())
		    });
			 
		}
		
		function mapSearch(){   
	    	AMap.service(["AMap.PlaceSearch"], function() {
	        	//构造地点查询类
		        var placeSearch = new AMap.PlaceSearch({ 
		            pageSize: 7, // 单页显示结果条数
		            pageIndex: 1, // 页码
		            city: "330", // 兴趣点城市
		            citylimit: true,  //是否强制限制在设置的城市内搜索
		            map: map, // 展现结果的地图实例
		            //panel: "qq_map_1", // 结果列表将在此容器中进行展示。
		            autoFitView: true // 是否自动调整地图视野使绘制的 Marker点都处于视口的可见范围
		        });
		        //关键字查询
		        placeSearch.search($("#address").val(),function(status,result){
		        	console.log(result);
		        	
		        });
		      //点击事件
		        AMap.event.addListener(placeSearch, "markerClick", function(e){
		            console.log(e.data.location);//当前marker的经纬度信息
		             //document.getElementById("lnglat").value = e.data.location.lng + ',' + e.data.location.lat;
		            $("#lat").val(e.data.location.lat);
		            $("#lon").val(e.data.location.lng);
		            //console.log( e.data.address);//获取当前marker的具体地址信息
		            console.log(e.data);//则是包含所有的marker数据
		            $("#address").val(e.data.name);
		            //document.getElementById("input").value =  e.data.address;
		        });
	    	});
		}
		</script>
	</div>
</body>
</html>