<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="shopList">

        <table class="layui-table">
            <thead>
            <tr>
                <th>商家名称</th>
                <th>商家地址</th>
                <th>商家描述</th>
                <th>添加时间</th>
                <th width="88px;">操作</th>
            </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>

<script src="/js/shop/shopList.js"></script>

</header>
</body>
</html>