<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/js/ztree/css/zTreeStyle/zTreeStyle.css"></link>
<head th:include="layout :: htmlhead" th:with="title='角色管理'"></head>
<script type="text/javascript" src="/js/dateUtils.js"></script>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
		<!--头-->
		<div th:replace="fragments/head :: header"></div>
		<div class="layui-body">
			<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
				<ul class="layui-tab-title">
					<li id="orderListLi" class="layui-this">全部订单</li>
					<li id="checkOrderLi">待确认订单</li>
					<li id="orderDatilLi" style="display: none;">订单详情</li>
				</ul>
				<div class="layui-tab-content" style="height: 100px;">
					<div id="orderListDiv" class="layui-tab-item layui-show">
						<div th:include="order/orderList :: orderList"></div>
					</div>
					<div id="checkOrderDiv" class="layui-tab-item">
						<div th:include="order/checkOrder :: checkOrder"></div>
					</div>
					<div id="orderDatilDiv" class="layui-tab-item" style="display: none;">
						<div th:include="order/orderDatil :: orderDatil"></div>
					</div>
				</div>
			</div>


		</div>
		<div id="updateOrder" class="layer_self_wrap" style="width: 500px; display: none;">
			<form id="orderForm" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
				<input id="orderId" type="hidden" name="OrderId" />
				<div class="layui-form-item">
					<label class="layui-form-label">订单编号</label>
					<div class="layui-input-inline">
						<input id="UorderCode" name="orderCode" readonly="readonly" lay-verify="required" autocomplete="off" class="layui-input" type="text"></input>
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">订单价格</label>
					<div class="layui-input-inline">
						<input id="UpayPrice" name="orderPrice" lay-verify="required" autocomplete="off" class="layui-input" type="text" />
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">技术人员</label>
					<div class="layui-input-inline">
						<select  name="serverMemberNo" lay-filter="serverMemberNo">
							<option value=""></option>
						</select>
					</div>
				</div>

				<div class="layui-form-item">
					<div class="layui-input-block" style="margin-left: 10px;">
						<button class="layui-btn" lay-submit="" lay-filter="orderSubmit">提交</button>
						<button type="reset" class="layui-btn layui-btn-primary">重置</button>
					</div>
				</div>
			</form>
		</div>
		<!--底部-->
		<div th:replace="fragments/footer :: footer"></div>
		<script src="/js/order/orderManage.js"></script>
		<script th:inline="javascript">
        var flag=/*[[${flag==null ?'':flag}]]*/;
    </script>
	</div>
</body>
</html>