<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
	<!-- <classPathEntry location="C:\Users\hongrunzhi\.m2\repository\mysql\mysql-connector-java\5.1.39\mysql-connector-java-5.1.39.jar" /> -->
	<context id="test" targetRuntime="MyBatis3">
		<commentGenerator>
			<!-- 抑制警告 -->
			<property name="suppressTypeWarnings" value="true" />
			<!-- 是否去除自动生成的注释 true：是 ： false:否 -->
			<property name="suppressAllComments" value="false" />
			<!-- 是否生成注释代时间戳 -->
			<property name="suppressDate" value="true" />
		</commentGenerator>
		<!--数据库链接地址账号密码 -->
		<jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://localhost:3306/jisu?serverTimezone=GMT%2B8" userId="root" password="root">
		</jdbcConnection>
		<javaTypeResolver>
			<property name="forceBigDecimals" value="false" />
		</javaTypeResolver>
		<!--生成Model类存放位置 -->
		<javaModelGenerator targetPackage="com.jisu.WeChatApp.pojo" targetProject="WeChatApp/src/main/java">
			<property name="enableSubPackages" value="true" />
			<property name="trimStrings" value="true" />
		</javaModelGenerator>
		<!--生成映射文件存放位置 -->
		<sqlMapGenerator targetPackage="mybatis" targetProject="WeChatApp/src/main/resources">
			<property name="enableSubPackages" value="true" />
		</sqlMapGenerator>
		<!--生成Dao类存放位置 -->
		<!-- 客户端代码，生成易于使用的针对Model对象和XML配置文件 的代码 type="ANNOTATEDMAPPER",生成Java Model 和基于注解的Mapper对象 type="MIXEDMAPPER",生成基于注解的Java Model 和相应的Mapper对象 type="XMLMAPPER",生成SQLMap XML文件和独立的Mapper接口 -->
		<javaClientGenerator type="XMLMAPPER" targetPackage="com.jisu.WeChatApp.dao" targetProject="WeChatApp/src/main/java">
			<property name="enableSubPackages" value="true" />
		</javaClientGenerator>
		
		<table tableName="reply_comment_info"></table>
		<table tableName="comment_info"></table>
	</context>
</generatorConfiguration>
